.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
}

.heading {
  color: #ffffff;
  margin-top: 60px;
  font-size: 32px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 130px;
  }
}

.review-details-container {
  display: flex;
  align-items: center;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .review-details-container {
    width: 48%;
    min-width: 300px;
  }
}

.review-button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 25px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  color: #ffffff;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 500;
}

.company-name {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
}

.user-description {
  color: #171f46;
  font-size: 15px;
  font-family: 'Roboto';
  text-align: center;
}
